    <div class="header">
        <div class="left-header">
            <ul>
                <li class="#"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home Page</a></a></li>
                <li class="#"><a href="/ResizedImage"><i class="fa fa-image" aria-hidden="true"></i>Add New Image</a></a>
                </li>

            </ul>
        </div>
        
      </ul>
      <ul class="navbar-nav mr-sm-5 px-5">
      <li class="nav-item dropdown my-lg-0 mr-sm-5">
          {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username }}
          </a>
        <div class="dropdown-menu mr-sm-5" aria-labelledby="navbarDropdown">
                <a class="dropdown-item mr-sm-5" href="#">All Datasets</a>
                <a class="dropdown-item mr-sm-5" href="">My Datasets</a>
                <a class="dropdown-item mr-sm-5" href="">Profile</a>
                <a class="dropdown-item mr-sm-5" href="">Logout</a>
        </div>        
        </li>
            {% else %}
            <li class="nav-item mr-sm-2">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item mr-sm-5">
                <a class="nav-link" href="#">Register</a>
            </li>
              {% endif %}
      </ul>     
    </div>
 
</nav>
</div>