{% extends "base.html" %}


{% block title %}
HomePage
{% endblock  %}}

{% block body %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?{% now 'U'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="left-header">
    <ul>


        <li class=#><a href=""><i class="fa fa-home" aria-hidden="true"></i>Welcome. This is {{ home }} HomePage
                switch to other pages from the menu below.</a></a></li>
        <li><a href="/"><i class="fas fa-sign-in-alt " aria-hidden="true"></i>Login</a></li>
        <li><a href="/"><i class="fas fa-sign-in-alt " aria-hidden="true"></i>Sign Up</a></li>


    </ul>


</div>


<div class="content-table">
    <table class="table ">
        <tbody>
          
            <td>

                <a href="UploadImage" style="color:black">
                    <h2>Upload Image</h2>
                </a><br>
            </td>
            <td>

                <a href="ResizedImage" style="color:black">
                    <h2>Resized Image</h2>
                </a><br>
            </td>
            <td>

                <a href="DetectPedestrianYOLO" style="color:black">
                    <h2>Detect Pedestrian YOLO</h2>
                </a><br>
            </td>

            <td>

                <a href="DetectPedestrianSSD" style="color:black">
                    <h2>Detect Pedestrian SSD</h2>
                </a><br>
            </td>
        </tbody>
</div>
<hr>

{% endblock %}